{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}



<div class="row">
    {% for object in object_list %}
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem; margin-top:10px">
                {% if object.image %}
                    <img src="{{object.image.url}}" class="card-img-top" alt="{{object.name}}" width="350px" min-height="350px">
                {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{object.name | truncatewords:5}}</h5>
                <p class="card-text">{{object.category | default:"-" }}</p>
                <p class="card-text">{{object.description | truncatewords:10}}</p>
                <a href="{% url 'Product_product_detail' object.slug %}" class="btn btn-primary">Order Now</a>
              </div>
            </div>
        </div>
    {% endfor %}
</div>











<br>
<br>
<br>
<br>
{% endblock %}