{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}



<div class="row">
    <div class="col-12 text-center">
        <h2>Thank you for using our services.</h2>
        <h4>Your order will be at your door as soon as possible.</h4>
    </div>
     <div class="col-12 text-center">
        <a href="/" class="btn btn-lg btn-primary">Get More</a>
    </div>
</div>











<br>
<br>
<br>
<br>
{% endblock %}